@import url(all.css);

img{
    width: 100px;
    height: 100px;
}

.celsius{
    display: inline;
}

.temperature-degree{
    display: inline;
    font-size: 10em !important;
}


#cons{
    background-color: black;
    background-position: center;
    width: 30em;
    height: 40em;
    margin: 3em auto;
    text-align: center;
    padding-top: 0.6em;
    border-radius: 60px;
    border: 0.7em solid #61b8ff;
    margin-top: 3em;
}
h1,h2,h3,h4{
    font-family: 'Balsamiq Sans';
}

h1{
    font-size: 5em;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 3em;
    color: rgb(218, 236, 252);
}

h3{
    font-size: 1em;
    color: cyan;
}

h4{
    font-size: 2em;
    color: rgb(255, 255, 255);
}







@media only screen and (max-width: 501px) {
    #cons{
        background-color: black;
        width: 100%;
        height: 700px;
        text-align: center;
        padding: 0.6em 0;
        border-radius: 20px;
        margin: 0;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 2em;
        color: rgb(218, 236, 252);
    }
    
    h3{
        font-size: 1em;
        color: cyan;
    }
    
    h4{
        font-size: 2em;
        color: rgb(255, 255, 255);
    }
}